:root {
    --background: #DEDBDB;
    --text: rgba(222, 219, 219, 1);
    --primary: #270334;
    --primary-light: #2F0D3B;
    --accent: #C63E3E;
    --secondary: #CBCFD5;
    --auth-primary: #C63E3E;
    --modal-background: #4A1E46;
    --primary-darker: #190121;

}