:root {
    --background: #DEDBDB;
    --text: rgba(222, 219, 219, 1);
    --primary: #270334;
    --primary-light: #4A1E46;
    --accent: #C63E3E;
    --accent-light: #c63e3ed0;
    --secondary: #CBCFD5;
    --auth-primary: #C63E3E;
    --modal-background: #4A1E46;
    --primary-darker: #190121;

<<<<<<< HEAD
=======
    --success: #009e00;
    --success-lighter: #9eff9e;

    --error-lighter: #b13232;
    --error: #9e0000;
    --error-darker: #7e0000;
>>>>>>> 8a06039f2f1489bd6ac2f02065d645b24ccde7a1
}